* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* scrollbar for chrome, opera*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #081120; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #32363d; 
}

:root {
    /* --main-bg-color: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, rgba(186, 186, 186, 0.01) 16.667%,rgba(192, 192, 192, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 33.334%,rgba(48, 48, 48, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 50.001000000000005%,rgba(33, 33, 33, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 66.668%,rgba(182, 182, 182, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 83.33500000000001%,rgba(211, 211, 211, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 100.002%),linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, rgba(48, 48, 48, 0.01) 16.667%,rgba(178, 178, 178, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 33.334%,rgba(192, 192, 192, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 50.001000000000005%,rgba(237, 237, 237, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 66.668%,rgba(194, 194, 194, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 83.33500000000001%,rgba(227, 227, 227, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 100.002%),linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, rgba(146, 146, 146, 0.03) 25%,rgba(33, 33, 33, 0.03) 25%, rgba(33, 33, 33, 0.03) 50%,rgba(46, 46, 46, 0.03) 50%, rgba(46, 46, 46, 0.03) 75%,rgba(172, 172, 172, 0.03) 75%, rgba(172, 172, 172, 0.03) 100%),linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%,rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%,rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001000000000005%,rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%,rgba(207, 207, 207, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 83.33500000000001%,rgba(183, 183, 183, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 100.002%),linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%,rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%,rgba(194, 194, 194, 0.02) 40%, rgba(194, 194, 194, 0.02) 60%,rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%,rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%),linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%,rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%,rgba(71, 71, 71, 0.02) 40%, rgba(71, 71, 71, 0.02) 60%,rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%,rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%,rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%,rgba(146, 146, 146, 0.03) 40%, rgba(146, 146, 146, 0.03) 60%,rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%,rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%),linear-gradient(90deg, rgb(225, 15, 180),rgb(78, 198, 243)); */
    /* --main-bg-color: linear-gradient(45deg, rgba(135, 135, 135, 0.04) 0%, rgba(135, 135, 135, 0.04) 4%,rgba(73, 73, 73, 0.04) 4%, rgba(73, 73, 73, 0.04) 5%,rgba(161, 161, 161, 0.04) 5%, rgba(161, 161, 161, 0.04) 8%,rgba(22, 22, 22, 0.04) 8%, rgba(22, 22, 22, 0.04) 14%,rgba(46, 46, 46, 0.04) 14%, rgba(46, 46, 46, 0.04) 70%,rgba(199, 199, 199, 0.04) 70%, rgba(199, 199, 199, 0.04) 80%,rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0.04) 100%),linear-gradient(45deg, rgba(56, 56, 56, 0.1) 0%, rgba(56, 56, 56, 0.1) 36%,rgba(255, 255, 255, 0.1) 36%, rgba(255, 255, 255, 0.1) 62%,rgba(197, 197, 197, 0.1) 62%, rgba(197, 197, 197, 0.1) 71%,rgba(255, 255, 255, 0.1) 71%, rgba(255, 255, 255, 0.1) 75%,rgba(168, 168, 168, 0.1) 75%, rgba(168, 168, 168, 0.1) 98%,rgba(249, 249, 249, 0.1) 98%, rgba(249, 249, 249, 0.1) 100%),linear-gradient(0deg, rgba(42, 42, 42, 0.05) 0%, rgba(42, 42, 42, 0.05) 9%,rgba(254, 254, 254, 0.05) 9%, rgba(254, 254, 254, 0.05) 11%,rgba(109, 109, 109, 0.05) 11%, rgba(109, 109, 109, 0.05) 28%,rgba(250, 250, 250, 0.05) 28%, rgba(250, 250, 250, 0.05) 86%,rgba(191, 191, 191, 0.05) 86%, rgba(191, 191, 191, 0.05) 100%),linear-gradient(135deg, rgba(175, 175, 175, 0.05) 0%, rgba(175, 175, 175, 0.05) 12%,rgba(195, 195, 195, 0.05) 12%, rgba(195, 195, 195, 0.05) 34%,rgba(10, 10, 10, 0.05) 34%, rgba(10, 10, 10, 0.05) 56%,rgba(241, 241, 241, 0.05) 56%, rgba(241, 241, 241, 0.05) 81%,rgba(244, 244, 244, 0.05) 81%, rgba(244, 244, 244, 0.05) 82%,rgba(36, 36, 36, 0.05) 82%, rgba(36, 36, 36, 0.05) 84%,rgba(161, 161, 161, 0.05) 84%, rgba(161, 161, 161, 0.05) 99%,rgba(81, 81, 81, 0.05) 99%, rgba(81, 81, 81, 0.05) 100%),linear-gradient(0deg, rgba(146, 146, 146, 0.05) 0%, rgba(146, 146, 146, 0.05) 22%,rgba(239, 239, 239, 0.05) 22%, rgba(239, 239, 239, 0.05) 31%,rgba(147, 147, 147, 0.05) 31%, rgba(147, 147, 147, 0.05) 33%,rgba(209, 209, 209, 0.05) 33%, rgba(209, 209, 209, 0.05) 77%,rgba(129, 129, 129, 0.05) 77%, rgba(129, 129, 129, 0.05) 88%,rgba(20, 20, 20, 0.05) 88%, rgba(20, 20, 20, 0.05) 100%),linear-gradient(90deg, rgb(125, 116, 141),rgb(26, 181, 231),rgb(7, 239, 70)); */
    /* --main-bg-color: linear-gradient(45deg, rgba(135, 135, 135, 0.04) 0%, rgba(135, 135, 135, 0.04) 4%,rgba(73, 73, 73, 0.04) 4%, rgba(73, 73, 73, 0.04) 5%,rgba(161, 161, 161, 0.04) 5%, rgba(161, 161, 161, 0.04) 8%,rgba(22, 22, 22, 0.04) 8%, rgba(22, 22, 22, 0.04) 14%,rgba(46, 46, 46, 0.04) 14%, rgba(46, 46, 46, 0.04) 70%,rgba(199, 199, 199, 0.04) 70%, rgba(199, 199, 199, 0.04) 80%,rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0.04) 100%),linear-gradient(45deg, rgba(56, 56, 56, 0.1) 0%, rgba(56, 56, 56, 0.1) 36%,rgba(255, 255, 255, 0.1) 36%, rgba(255, 255, 255, 0.1) 62%,rgba(197, 197, 197, 0.1) 62%, rgba(197, 197, 197, 0.1) 71%,rgba(255, 255, 255, 0.1) 71%, rgba(255, 255, 255, 0.1) 75%,rgba(168, 168, 168, 0.1) 75%, rgba(168, 168, 168, 0.1) 98%,rgba(249, 249, 249, 0.1) 98%, rgba(249, 249, 249, 0.1) 100%),linear-gradient(0deg, rgba(42, 42, 42, 0.05) 0%, rgba(42, 42, 42, 0.05) 9%,rgba(254, 254, 254, 0.05) 9%, rgba(254, 254, 254, 0.05) 11%,rgba(109, 109, 109, 0.05) 11%, rgba(109, 109, 109, 0.05) 28%,rgba(250, 250, 250, 0.05) 28%, rgba(250, 250, 250, 0.05) 86%,rgba(191, 191, 191, 0.05) 86%, rgba(191, 191, 191, 0.05) 100%),linear-gradient(135deg, rgba(175, 175, 175, 0.05) 0%, rgba(175, 175, 175, 0.05) 12%,rgba(195, 195, 195, 0.05) 12%, rgba(195, 195, 195, 0.05) 34%,rgba(10, 10, 10, 0.05) 34%, rgba(10, 10, 10, 0.05) 56%,rgba(241, 241, 241, 0.05) 56%, rgba(241, 241, 241, 0.05) 81%,rgba(244, 244, 244, 0.05) 81%, rgba(244, 244, 244, 0.05) 82%,rgba(36, 36, 36, 0.05) 82%, rgba(36, 36, 36, 0.05) 84%,rgba(161, 161, 161, 0.05) 84%, rgba(161, 161, 161, 0.05) 99%,rgba(81, 81, 81, 0.05) 99%, rgba(81, 81, 81, 0.05) 100%),linear-gradient(0deg, rgba(146, 146, 146, 0.05) 0%, rgba(146, 146, 146, 0.05) 22%,rgba(239, 239, 239, 0.05) 22%, rgba(239, 239, 239, 0.05) 31%,rgba(147, 147, 147, 0.05) 31%, rgba(147, 147, 147, 0.05) 33%,rgba(209, 209, 209, 0.05) 33%, rgba(209, 209, 209, 0.05) 77%,rgba(129, 129, 129, 0.05) 77%, rgba(129, 129, 129, 0.05) 88%,rgba(20, 20, 20, 0.05) 88%, rgba(20, 20, 20, 0.05) 100%),linear-gradient(60deg, #6f26d8,rgb(26, 181, 231),rgb(7, 239, 123)); */
    /* --main-bg-color: linear-gradient(0deg, rgba(16, 130, 178, 0.58) 0%, rgba(16, 130, 178, 0.58) 13%,rgba(49, 137, 167, 0.58) 13%, rgba(49, 137, 167, 0.58) 42%,rgba(81, 143, 157, 0.58) 42%, rgba(81, 143, 157, 0.58) 49%,rgba(114, 150, 146, 0.58) 49%, rgba(114, 150, 146, 0.58) 58%,rgba(147, 157, 135, 0.58) 58%, rgba(147, 157, 135, 0.58) 69%,rgba(180, 164, 124, 0.58) 69%, rgba(180, 164, 124, 0.58) 74%,rgba(212, 170, 114, 0.58) 74%, rgba(212, 170, 114, 0.58) 78%,rgba(245, 177, 103, 0.58) 78%, rgba(245, 177, 103, 0.58) 100%),linear-gradient(90deg, rgb(180, 56, 238) 0%, rgb(180, 56, 238) 11%,rgb(190, 82, 231) 11%, rgb(190, 82, 231) 22%,rgb(201, 109, 225) 22%, rgb(201, 109, 225) 46%,rgb(211, 135, 218) 46%, rgb(211, 135, 218) 60%,rgb(222, 161, 212) 60%, rgb(222, 161, 212) 65%,rgb(232, 187, 205) 65%, rgb(232, 187, 205) 87%,rgb(243, 214, 199) 87%, rgb(243, 214, 199) 92%,rgb(253, 240, 192) 92%, rgb(253, 240, 192) 100%); */
    /* --main-bg-color: linear-gradient(242deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(152deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(11deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(27deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(317deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(128deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(90deg, rgb(185, 139, 80),rgb(176, 26, 6)); */
    /* --main-bg-color: linear-gradient(99deg, rgba(188, 188, 188, 0.02) 0%, rgba(188, 188, 188, 0.02) 12.5%,rgba(86, 86, 86, 0.02) 12.5%, rgba(86, 86, 86, 0.02) 25%,rgba(221, 221, 221, 0.02) 25%, rgba(221, 221, 221, 0.02) 37.5%,rgba(159, 159, 159, 0.02) 37.5%, rgba(159, 159, 159, 0.02) 50%,rgba(159, 159, 159, 0.02) 50%, rgba(159, 159, 159, 0.02) 62.5%,rgba(86, 86, 86, 0.02) 62.5%, rgba(86, 86, 86, 0.02) 75%,rgba(241, 241, 241, 0.02) 75%, rgba(241, 241, 241, 0.02) 87.5%,rgba(46, 46, 46, 0.02) 87.5%, rgba(46, 46, 46, 0.02) 100%),linear-gradient(285deg, rgba(179, 179, 179, 0.02) 0%, rgba(179, 179, 179, 0.02) 25%,rgba(69, 69, 69, 0.02) 25%, rgba(69, 69, 69, 0.02) 50%,rgba(76, 76, 76, 0.02) 50%, rgba(76, 76, 76, 0.02) 75%,rgba(199, 199, 199, 0.02) 75%, rgba(199, 199, 199, 0.02) 100%),linear-gradient(76deg, rgba(143, 143, 143, 0.01) 0%, rgba(143, 143, 143, 0.01) 12.5%,rgba(116, 116, 116, 0.01) 12.5%, rgba(116, 116, 116, 0.01) 25%,rgba(118, 118, 118, 0.01) 25%, rgba(118, 118, 118, 0.01) 37.5%,rgba(183, 183, 183, 0.01) 37.5%, rgba(183, 183, 183, 0.01) 50%,rgba(196, 196, 196, 0.01) 50%, rgba(196, 196, 196, 0.01) 62.5%,rgba(235, 235, 235, 0.01) 62.5%, rgba(235, 235, 235, 0.01) 75%,rgba(194, 194, 194, 0.01) 75%, rgba(194, 194, 194, 0.01) 87.5%,rgba(86, 86, 86, 0.01) 87.5%, rgba(86, 86, 86, 0.01) 100%),linear-gradient(28deg, rgba(238, 238, 238, 0.03) 0%, rgba(238, 238, 238, 0.03) 16.667%,rgba(243, 243, 243, 0.03) 16.667%, rgba(243, 243, 243, 0.03) 33.334%,rgba(201, 201, 201, 0.03) 33.334%, rgba(201, 201, 201, 0.03) 50.001000000000005%,rgba(129, 129, 129, 0.03) 50.001%, rgba(129, 129, 129, 0.03) 66.668%,rgba(40, 40, 40, 0.03) 66.668%, rgba(40, 40, 40, 0.03) 83.33500000000001%,rgba(97, 97, 97, 0.03) 83.335%, rgba(97, 97, 97, 0.03) 100.002%),linear-gradient(290deg, rgba(241, 241, 241, 0.02) 0%, rgba(241, 241, 241, 0.02) 20%,rgba(86, 86, 86, 0.02) 20%, rgba(86, 86, 86, 0.02) 40%,rgba(128, 128, 128, 0.02) 40%, rgba(128, 128, 128, 0.02) 60%,rgba(83, 83, 83, 0.02) 60%, rgba(83, 83, 83, 0.02) 80%,rgba(81, 81, 81, 0.02) 80%, rgba(81, 81, 81, 0.02) 100%),linear-gradient(0deg, rgba(159, 159, 159, 0.01) 0%, rgba(159, 159, 159, 0.01) 12.5%,rgba(131, 131, 131, 0.01) 12.5%, rgba(131, 131, 131, 0.01) 25%,rgba(249, 249, 249, 0.01) 25%, rgba(249, 249, 249, 0.01) 37.5%,rgba(156, 156, 156, 0.01) 37.5%, rgba(156, 156, 156, 0.01) 50%,rgba(145, 145, 145, 0.01) 50%, rgba(145, 145, 145, 0.01) 62.5%,rgba(149, 149, 149, 0.01) 62.5%, rgba(149, 149, 149, 0.01) 75%,rgba(144, 144, 144, 0.01) 75%, rgba(144, 144, 144, 0.01) 87.5%,rgba(170, 170, 170, 0.01) 87.5%, rgba(170, 170, 170, 0.01) 100%),linear-gradient(195deg, rgba(109, 109, 109, 0.03) 0%, rgba(109, 109, 109, 0.03) 12.5%,rgba(254, 254, 254, 0.03) 12.5%, rgba(254, 254, 254, 0.03) 25%,rgba(121, 121, 121, 0.03) 25%, rgba(121, 121, 121, 0.03) 37.5%,rgba(221, 221, 221, 0.03) 37.5%, rgba(221, 221, 221, 0.03) 50%,rgba(229, 229, 229, 0.03) 50%, rgba(229, 229, 229, 0.03) 62.5%,rgba(225, 225, 225, 0.03) 62.5%, rgba(225, 225, 225, 0.03) 75%,rgba(79, 79, 79, 0.03) 75%, rgba(79, 79, 79, 0.03) 87.5%,rgba(200, 200, 200, 0.03) 87.5%, rgba(200, 200, 200, 0.03) 100%),linear-gradient(318deg, rgba(177, 177, 177, 0.02) 0%, rgba(177, 177, 177, 0.02) 25%,rgba(83, 83, 83, 0.02) 25%, rgba(83, 83, 83, 0.02) 50%,rgba(184, 184, 184, 0.02) 50%, rgba(184, 184, 184, 0.02) 75%,rgba(191, 191, 191, 0.02) 75%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(90deg, rgb(45, 133, 170),rgb(198, 199, 93)); */
    /* --main-bg-color: linear-gradient(135deg, rgba(238, 238, 238, 0.08) 0%, rgba(238, 238, 238, 0.08) 55%,rgba(109, 109, 109, 0.08) 55%, rgba(109, 109, 109, 0.08) 60%,rgba(107, 107, 107, 0.08) 60%, rgba(107, 107, 107, 0.08) 81%,rgba(57, 57, 57, 0.08) 81%, rgba(57, 57, 57, 0.08) 94%,rgba(203, 203, 203, 0.08) 94%, rgba(203, 203, 203, 0.08) 100%),linear-gradient(0deg, rgba(53, 53, 53, 0.02) 0%, rgba(53, 53, 53, 0.02) 24%,rgba(89, 89, 89, 0.02) 24%, rgba(89, 89, 89, 0.02) 27%,rgba(190, 190, 190, 0.02) 27%, rgba(190, 190, 190, 0.02) 34%,rgba(51, 51, 51, 0.02) 34%, rgba(51, 51, 51, 0.02) 63%,rgba(217, 217, 217, 0.02) 63%, rgba(217, 217, 217, 0.02) 74%,rgba(226, 226, 226, 0.02) 74%, rgba(226, 226, 226, 0.02) 77%,rgba(60, 60, 60, 0.02) 77%, rgba(60, 60, 60, 0.02) 100%),linear-gradient(45deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 2%,rgba(186, 186, 186, 0.03) 2%, rgba(186, 186, 186, 0.03) 4%,rgba(163, 163, 163, 0.03) 4%, rgba(163, 163, 163, 0.03) 5%,rgba(167, 167, 167, 0.03) 5%, rgba(167, 167, 167, 0.03) 35%,rgba(20, 20, 20, 0.03) 35%, rgba(20, 20, 20, 0.03) 62%,rgba(204, 204, 204, 0.03) 62%, rgba(204, 204, 204, 0.03) 65%,rgba(53, 53, 53, 0.03) 65%, rgba(53, 53, 53, 0.03) 71%,rgba(84, 84, 84, 0.03) 71%, rgba(84, 84, 84, 0.03) 100%),linear-gradient(45deg, rgba(184, 184, 184, 0.05) 0%, rgba(184, 184, 184, 0.05) 10%,rgba(75, 75, 75, 0.05) 10%, rgba(75, 75, 75, 0.05) 32%,rgba(53, 53, 53, 0.05) 32%, rgba(53, 53, 53, 0.05) 38%,rgba(103, 103, 103, 0.05) 38%, rgba(103, 103, 103, 0.05) 72%,rgba(114, 114, 114, 0.05) 72%, rgba(114, 114, 114, 0.05) 76%,rgba(62, 62, 62, 0.05) 76%, rgba(62, 62, 62, 0.05) 100%),linear-gradient(90deg, rgba(108, 108, 108, 0.03) 0%, rgba(108, 108, 108, 0.03) 42%,rgba(6, 6, 6, 0.03) 42%, rgba(6, 6, 6, 0.03) 51%,rgba(227, 227, 227, 0.03) 51%, rgba(227, 227, 227, 0.03) 57%,rgba(143, 143, 143, 0.03) 57%, rgba(143, 143, 143, 0.03) 75%,rgba(178, 178, 178, 0.03) 75%, rgba(178, 178, 178, 0.03) 83%,rgba(98, 98, 98, 0.03) 83%, rgba(98, 98, 98, 0.03) 85%,rgba(152, 152, 152, 0.03) 85%, rgba(152, 152, 152, 0.03) 100%),linear-gradient(135deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 43%,rgba(67, 67, 67, 0.03) 43%, rgba(67, 67, 67, 0.03) 59%,rgba(142, 142, 142, 0.03) 59%, rgba(142, 142, 142, 0.03) 66%,rgba(160, 160, 160, 0.03) 66%, rgba(160, 160, 160, 0.03) 96%,rgba(242, 242, 242, 0.03) 96%, rgba(242, 242, 242, 0.03) 100%),linear-gradient(45deg, rgba(63, 63, 63, 0.07) 0%, rgba(63, 63, 63, 0.07) 10%,rgba(206, 206, 206, 0.07) 10%, rgba(206, 206, 206, 0.07) 38%,rgba(241, 241, 241, 0.07) 38%, rgba(241, 241, 241, 0.07) 49%,rgba(26, 26, 26, 0.07) 49%, rgba(26, 26, 26, 0.07) 52%,rgba(155, 155, 155, 0.07) 52%, rgba(155, 155, 155, 0.07) 72%,rgba(210, 210, 210, 0.07) 72%, rgba(210, 210, 210, 0.07) 91%,rgba(30, 30, 30, 0.07) 91%, rgba(30, 30, 30, 0.07) 100%),linear-gradient(90deg, rgba(196, 196, 196, 0.08) 0%, rgba(196, 196, 196, 0.08) 5%,rgba(182, 182, 182, 0.08) 5%, rgba(182, 182, 182, 0.08) 17%,rgba(196, 196, 196, 0.08) 17%, rgba(196, 196, 196, 0.08) 23%,rgba(62, 62, 62, 0.08) 23%, rgba(62, 62, 62, 0.08) 33%,rgba(127, 127, 127, 0.08) 33%, rgba(127, 127, 127, 0.08) 70%,rgba(112, 112, 112, 0.08) 70%, rgba(112, 112, 112, 0.08) 100%),linear-gradient(45deg, rgba(240, 240, 240, 0.04) 0%, rgba(240, 240, 240, 0.04) 9%,rgba(84, 84, 84, 0.04) 9%, rgba(84, 84, 84, 0.04) 35%,rgba(162, 162, 162, 0.04) 35%, rgba(162, 162, 162, 0.04) 45%,rgba(2, 2, 2, 0.04) 45%, rgba(2, 2, 2, 0.04) 52%,rgba(208, 208, 208, 0.04) 52%, rgba(208, 208, 208, 0.04) 88%,rgba(85, 85, 85, 0.04) 88%, rgba(85, 85, 85, 0.04) 100%),linear-gradient(90deg, rgb(177, 45, 148),rgb(0, 243, 220)); */
    --main-bg-color: linear-gradient(45deg, rgba(135, 135, 135, 0.04) 0%, rgba(135, 135, 135, 0.04) 4%,rgba(73, 73, 73, 0.04) 4%, rgba(73, 73, 73, 0.04) 5%,rgba(161, 161, 161, 0.04) 5%, rgba(161, 161, 161, 0.04) 8%,rgba(22, 22, 22, 0.04) 8%, rgba(22, 22, 22, 0.04) 14%,rgba(46, 46, 46, 0.04) 14%, rgba(46, 46, 46, 0.04) 70%,rgba(199, 199, 199, 0.04) 70%, rgba(199, 199, 199, 0.04) 80%,rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0.04) 100%),linear-gradient(45deg, rgba(56, 56, 56, 0.1) 0%, rgba(56, 56, 56, 0.1) 36%,rgba(255, 255, 255, 0.1) 36%, rgba(255, 255, 255, 0.1) 62%,rgba(197, 197, 197, 0.1) 62%, rgba(197, 197, 197, 0.1) 71%,rgba(255, 255, 255, 0.1) 71%, rgba(255, 255, 255, 0.1) 75%,rgba(168, 168, 168, 0.1) 75%, rgba(168, 168, 168, 0.1) 98%,rgba(249, 249, 249, 0.1) 98%, rgba(249, 249, 249, 0.1) 100%),linear-gradient(0deg, rgba(42, 42, 42, 0.05) 0%, rgba(42, 42, 42, 0.05) 9%,rgba(254, 254, 254, 0.05) 9%, rgba(254, 254, 254, 0.05) 11%,rgba(109, 109, 109, 0.05) 11%, rgba(109, 109, 109, 0.05) 28%,rgba(250, 250, 250, 0.05) 28%, rgba(250, 250, 250, 0.05) 86%,rgba(191, 191, 191, 0.05) 86%, rgba(191, 191, 191, 0.05) 100%),linear-gradient(135deg, rgba(175, 175, 175, 0.05) 0%, rgba(175, 175, 175, 0.05) 12%,rgba(195, 195, 195, 0.05) 12%, rgba(195, 195, 195, 0.05) 34%,rgba(10, 10, 10, 0.05) 34%, rgba(10, 10, 10, 0.05) 56%,rgba(241, 241, 241, 0.05) 56%, rgba(241, 241, 241, 0.05) 81%,rgba(244, 244, 244, 0.05) 81%, rgba(244, 244, 244, 0.05) 82%,rgba(36, 36, 36, 0.05) 82%, rgba(36, 36, 36, 0.05) 84%,rgba(161, 161, 161, 0.05) 84%, rgba(161, 161, 161, 0.05) 99%,rgba(81, 81, 81, 0.05) 99%, rgba(81, 81, 81, 0.05) 100%),linear-gradient(0deg, rgba(146, 146, 146, 0.05) 0%, rgba(146, 146, 146, 0.05) 22%,rgba(239, 239, 239, 0.05) 22%, rgba(239, 239, 239, 0.05) 31%,rgba(147, 147, 147, 0.05) 31%, rgba(147, 147, 147, 0.05) 33%,rgba(209, 209, 209, 0.05) 33%, rgba(209, 209, 209, 0.05) 77%,rgba(129, 129, 129, 0.05) 77%, rgba(129, 129, 129, 0.05) 88%,rgba(20, 20, 20, 0.05) 88%, rgba(20, 20, 20, 0.05) 100%),linear-gradient(45deg, #6f26d8, #33ffb7);
    /* --main-bg-color: ; */
    /* --main-bg-color: linear-gradient(242deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(152deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(11deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(27deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(317deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(128deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(90deg, rgb(23, 169, 215),rgb(236, 81, 93)); */
    /* --main-bg-color: linear-gradient(45deg, #6f26d8, #33ffb7); */
    /* --main-bg-color: linear-gradient(45deg, #212224, #221333); */
    /* --main-bg-color: linear-gradient(45deg, #1e76e9, #7700ff); */
    /* --main-bg-color: linear-gradient(45deg, #1e76e9, #33ff93); */
    /* --main-bg-color: linear-gradient(45deg, #e91e63, #ff9800); */
}

html
{
    scroll-behavior: smooth;
    min-width: 364px;
}


body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    line-height: 1.5;
}

a
{
    color: #fff;
    text-decoration: none;
}

/* --- INTRO PAGE --- */

#intro
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
}

#intro-content
{
    height: max-content;
    width: 100%;
    /* max-width: 600px; */
    position: relative;
    top: 20vh;
    text-align: center;
    z-index: 100;
    font-size: 40px;
    border-radius: 20px;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 300;
    line-height: 1.3;
}

#intro-content > span
{
    color: #081120;
    font-weight: 400;
}

#intro-content:hover
{
    cursor: default;
}

#intro-content > a
{
    margin-top: 50px;
    font-size: 25px;
    display: block;
    width: 300px;
    text-decoration: none;
    color: #FFF;
    background-color: #081120;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
    padding: 6px;
    cursor: pointer;
    line-height: 1.5;
}

#intro-content > a:hover
{
    /* color: #a6cce6;
    border: 1px solid #a6cce6; */
    background-color: #2d3441;
    /* color: #081120; */
    /* border: 1px solid #081120; */
}

#particles-js
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* --- NAVBAR --- */

#navbarholder
{
    width: 100%;
    height: 60px;
    /* 
    position: sticky;
    top: 0;
    z-index: 999; 
    działa lepiej niż skrypt
    */
}

#navbar
{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    background-color: #081120;
    /* background-color: #353535;
    border-bottom: 1px solid #a6cce6; */
}

#menu
{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.sticky 
{
    position:fixed;
    top:0;
}

.menubutton
{
    display: grid;
    height: 60px;
}

.menubutton a
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, .66);
    transition: 0.15s;
}

.menubutton .active
{
    color: #ffffff;
    font-weight: 700;
    background-color: rgba(255, 255, 255, .15);
}

.menubutton :hover
{
    color: white;
    background-color: rgba(255, 255, 255, .15);
}

/* --- SEPARATOR --- */

.separator
{
    font-size: 34px;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    cursor: default;
}

.separator.last
{
    color: #FFF;
    border: none;
    font-weight: 600;
}

.paddingtop80
{
    padding-top: 80px;
}

.paddingtop60
{
    padding-top: 60px;
}

/* --- ABOUT PAGE --- */

#about-container
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 281px 1fr;
    grid-template-rows: 440px 1fr;
    padding: 60px 20px;
    cursor: default;
}

#about-photo
{
    display: flex;
    justify-content: center;
    /* background-color: #121524; */
    /* background-color: #dbdbdb; */
    /* border-left: 1px solid #dbdbdb; */
}

#about-photo img
{
    max-height: 440px;
    max-width: 281px;
    padding: 20px;
}

#about-content
{
    margin-left: 80px;
    text-align: justify;
    min-width: 281px;
    font-size: 18px;
    /* background-color: #dbdbdb; */
    /* border-right: 1px solid #dbdbdb; */
}

#about-text
{
    overflow-y: scroll;
    height: 100%;
    padding: 0px 20px;
}

/* --- SKILLS PAGE --- */

#skills-container
{
    width: 100%;
    min-height: 400px;
    z-index: 2;
    padding-top: 60px;
    position: relative;
}

#skills-content
{
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#skills-container .box
{
    position: relative;
    width: 260px;
    height: 350px;
    background: #fff;
    color: #000;
    overflow: hidden;
    transition: 0.4s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px;
    box-shadow: -10px 25px 50px rgba(0,0,0,.2);
    text-align: center;
}

#skills-container .box:hover
{
    box-shadow: -20px 50px 100px rgba(0,0,0,.5);
    cursor: pointer;
    color: #fff;
}

#skills-container .box h2
{
    font-size: 26px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

#skills-container .box svg
{
    max-width: 240px;
    max-height: 240px;
}

#skills-container .box:hover svg
{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.star
{
    height: 30px;
    width: 30px;
    transition: 0.4s;
}

#skills-container .box:hover .star
{
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 35px;
    width: 35px;
}

#skills-container .bg
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    width: 100%;
    height: calc(100% + 80px);
}

/* #skills-container .box.box1:hover ~ .bg, */
#skills-container .box.box1:hover
{
    opacity: 1;
    background: linear-gradient(#E44D26,#E91E63);
}

/* #skills-container .box.box2:hover ~ .bg, */
#skills-container .box.box2:hover
{
    opacity: 1;
    background: linear-gradient(#1572B6,#1d9fc7);
}

/* #skills-container .box.box3:hover ~ .bg, */
#skills-container .box.box3:hover
{
    opacity: 1;
    background: linear-gradient(#CB6699,#E91E63);
}

/* #skills-container .box.box4:hover ~ .bg, */
#skills-container .box.box4:hover
{
    opacity: 1;
    background: linear-gradient(#F0DB4F,#db8f02);
}

/* #skills-container .box.box5:hover ~ .bg, */
#skills-container .box.box5:hover
{
    opacity: 1;
    background: linear-gradient(#117ACC,#114ccc);
}

/* #skills-container .box.box6:hover ~ .bg, */
#skills-container .box.box6:hover
{
    opacity: 1;
    background: linear-gradient(#C4473A,#7e0523);
}

/* #skills-container .box.box7:hover ~ .bg, */
#skills-container .box.box7:hover
{
    opacity: 1;
    background: linear-gradient(#5B4282,#5336bb);
}

/* #skills-container .box.box8:hover ~ .bg, */
#skills-container .box.box8:hover
{
    opacity: 1;
    background: linear-gradient(#F34F29,#f38b29);
}

#skills-container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}

/* --- PROJECTS PAGE --- */
#projects
{
    position: relative;
}

#projects-container
{
    height: 100vh;
}

/* --- CONTACT PAGE --- */

#contact
{
    background: var(--main-bg-color);
    position: relative;
    overflow: hidden;
}

#contact-container
{
    min-height: calc(100vh - 170px - 190px);
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 101;
    text-align: center;
    color: #ffffff;
}

#contact-container p
{
    cursor: default;
}

#contact-container p:nth-child(1)
{
    margin-bottom: 0;
}

#contact-container p:nth-child(2)
{
    margin-top: 0;
}

#contact-form 
{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

#contact .contact_email
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    transition: 0.4s;
}

#contact .contact_email:hover
{
    cursor: pointer;
    color: #081120;
    font-weight: 600;
}

.hidden
{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.form-control
{
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
    font-family: 'Raleway', sans-serif;
}
  
:-ms-input-placeholder /* Internet Explorer 10-11 */
{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}
  
::-ms-input-placeholder /* Microsoft Edge */
{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}
  
.button
{
    display: block;
    margin: 10px 0 0 auto;
    padding: 13px 40px;
    border: 0;
    background: none;
    color: #ffffff;
    background-color: #081120;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.4s;
}

.button:hover
{
    cursor: pointer;
}


#particles2-js
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#footer
{
    width: 100%;
    height: 190px;
    background: #081120;
    color: #fff;
    padding: 16px 0px;
    text-align: center;
    line-height: 1;
}

/* --- INTRO SOCIAL MEDIA --- */

.intro-social-media {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 10;
    line-height: 1;
}

.intro-social-media ul {
    padding: 0;
}

.intro-social-media ul a {
    margin: 0 10px;
    text-decoration: none;
}

.intro-social-media img {
    height: 22px;
}

.intro-social-media ul li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    padding: 14px 17px;
    transition: 0.5s;
    background-color: #081120;
    border: 1px solid #081120;
}

.intro-social-media ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4),transparent);
    transition: 0.5s;
}

.intro-social-media ul li:hover::after {
    left: 200%;
}

.fb-color:hover{
    background-color: #3C5A99; 
    border: 1px solid #3C5A99;
}

.linked-color:hover{
    background-color: #0077B5; 
    border: 1px solid #0077B5;
}

.github-color:hover{
    background-color: #000000; 
    border: 1px solid #000000;
}

.instagram-color:hover{
    background-color: #cc444f; 
    border: 1px solid #cc444f;
}

/* --- FOOTER SOCIAL MEDIA --- */

.footer-social-media ul {
    padding: 0;
}

.footer-social-media ul a {
    margin: 0 10px;
    text-decoration: none;
}

.footer-social-media img {
    height: 22px;
}

.footer-social-media ul li {
    display: inline-block;
    margin: 20px 0;
    padding: 14px 17px;
    transition: 0.5s;
    background-color: #081120;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.footer-social-media ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4),transparent);
    transition: 0.5s;
}

.footer-social-media ul li:hover::after {
    left: 200%;
}

/* --- MOBILE --- */

@media only screen and (max-width: 920px) {
    #skills-container .box
    {
        width: 220px;
        height: 295px;
        margin: 10px;
    }

    .star
    {
        height: 26px;
        width: 26px;
    }

    #skills-container .box:hover .star
    {
        height: 28px;
        width: 28px;
    } 

    #skills-container .box h2
    {
        font-size: 23px;
    }
}

@media only screen and (max-width: 800px) {
    #skills-container .box
    {
        width: 180px;
        height: 240px;
        margin: 10px;
    }

    .star
    {
        height: 22px;
        width: 22px;
    }

    #skills-container .box:hover .star
    {
        height: 24px;
        width: 24px;
    } 

    #skills-container .box h2
    {
        font-size: 20px;
    }
}

@media only screen and (max-width: 420px) {
    #skills-container .box
    {
        width: 160px;
        height: 210px;
        margin: 10px;
    }

    .star
    {
        height: 18px;
        width: 18px;
    }

    #skills-container .box:hover .star
    {
        height: 20px;
        width: 20px;
    } 

    #skills-container .box h2
    {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #intro-content {
        font-size: 34px;
        line-height: 38px;
    }
  
    .intro-social-media {
        right: 0;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #intro-content {
        font-size: 30px;
        line-height: 34px;
      }

    .intro-social-media ul a {
      margin: 0 5px;
    }
}

@media only screen and (max-width: 450px) {
    #intro-content {
      font-size: 26px;
      line-height: 30px;
    }
  }
  
  @media only screen and (max-width: 370px) {
    #intro-content {
      font-size: 24px;
      line-height: 28px;
    }
  }

@media only screen and (max-width: 800px) {
    #about-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #about-content {
        margin-left: 0px;
    }

    #about-text {
        overflow-y: unset;
    }

    #contact-form {
        margin: 0;
    }

    #contact-container p:nth-child(1)
    {
        margin-top: 5px;
    }

    #contact-container p:nth-child(2)
    {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #intro-content > a {
        width: 250px;
    }

    #contact-container p:nth-child(1)
    {
        margin-top: 0;
    }

    .separator
    {
        font-size: 30px;
    }
}
